
@{
    ViewBag.Title = "Athorize";
}

<h2 class="text-danger text-center justify-content-center" style="margin-bottom:120px;margin-top:120px;">OOPS!! , It looks like you are not Authorized to use  this service please login <a href="/Account/Login">Here</a></h2>

